{{ define "main" }}
<h3>Logan Links</h3>

<ul class="post-list">
  {{/* Show only posts with "links" category */}}
  {{ $allPosts := where .Site.RegularPages "Type" "post" }}
  {{ $linkPosts := slice }}
  {{ range $allPosts }}
    {{ $cats := .Params.categories | default slice }}
    {{ if in $cats "links" }}
      {{ $linkPosts = $linkPosts | append . }}
    {{ end }}
  {{ end }}
  {{ $paginator := .Paginate $linkPosts }}
  {{ range $paginator.Pages }}
  <li class="h-entry">
    {{ partial "post.html" . }}
  </li>
  {{ end }}
</ul>

{{ partial "pagination.html" . }}

{{ if .Site.Params.include_conversation }}
<div id="conversation" class="microblog_conversation"></div>
<script src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}
{{ end }}
