{{ define "main" }}
<div class="replies">
  {{ $replies := where .Site.RegularPages "Type" "reply" }}
  {{ $paginator := .Paginate $replies }}
  <ul class="replies-list">
    {{ range $paginator.Pages }}
    <li class="reply-item h-entry">
      <div class="e-content">
        {{ .Content }}
      </div>
      <p class="date">
        <a class="u-url" href="{{ .Permalink }}">
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </a>
      </p>
    </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }}
</div>
{{ end }}
