{{ define "main" }}
<ul class="post-list">
  {{ $posts := where .Site.RegularPages "Type" "post" }}
  {{/* Links and movie reviews have dedicated collection pages. */}}
  {{ $filtered := slice }}
  {{ range $posts }}
    {{ $cats := .Params.categories | default slice }}
    {{ $collectionPost := false }}
    {{ range $cats }}
      {{ if in (slice "links" "movies") (lower .) }}
        {{ $collectionPost = true }}
      {{ end }}
    {{ end }}
    {{ if not $collectionPost }}
      {{ $filtered = $filtered | append . }}
    {{ end }}
  {{ end }}
  {{ $paginator := .Paginate $filtered }}
  {{ range $paginator.Pages }}
  <li class="h-entry">
    {{ partial "post.html" . }}
  </li>
  {{ end }}
</ul>

{{ partial "pagination.html" . }}
{{ end }}
